<?php
define('OAUTH_CONSUMER_KEY', 'zvmc7cVdOJyyjzTwZcop2w');
define('OAUTH_CONSUMER_SECRET', 'CKEfq5lDlcJIFGfqgyFDP2xhT5VLg1JE3s9Kkx2HUSc');
$access_token='202162132-Ent1eq5ciuveQS8SJJR9Rm6ow8TEcQYADTXmF95w';
$access_token_secret='TbnMGv7zg13zmemGBoGjyyuYrxcUDT4tBD9DlmRTlE';
$watb_api_endpoint = 'http://watb.andrewl.net/watb.php';
$application_state_file = '/tmp/twitabikebot.application_state';
$bitly_username = "twitabikebot";
$bitly_apikey = "R_b3be68a5d01d465a31a9e4201ff104d9";
$bitly_api_endpoint = "http://api.bit.ly/";